spring:
    main:
        banner-mode: "log"
    batch:
        job:
            enabled: false

tool:
    tableNames:
        adjustment: "CTF_Adjustments"
        adjustmentType: "Adj_Type"
        categoryProductJoin: "tblCategoryProductJoin"
        comment: "CTF_Comments"
        facility: "Facility"
        item: "CTF_Item"
        main: "CTF_Main"
        product: "Product"
        program: "Program"
    parameters:
        startDate: 2012-01-01
        endDate: 2017-12-31
        creator: "scm"
        requestedQuantityExplanation: "transferred from supply manager"
        timeZone: "Africa/Johannesburg"
        orderNumberConfiguration:
            orderNumberPrefix: "O"
            includeOrderNumberPrefix: true
            includeProgramCode: false
            includeTypeSuffix: false
        requisitionTemplates:
           - program: "__ALL_PROGRAMS__"
             numberOfPeriodsToAverage: 2
             columns:
                 productCode:
                     name: "orderable.productCode"
                     label: "Product"
                     source: "REFERENCE_DATA"
                     displayed: true
                     definition: "bde01507-3837-47b7-ae08-cec92c0c3cd2"
                     displayOrder: 1
                 productName:
                     name: "orderable.fullProductName"
                     label: "Product Description"
                     source: "REFERENCE_DATA"
                     displayed: true
                     definition: "e53e80de-fc63-4ecb-b6b2-ef376b34c926"
                     displayOrder: 2
                 stockOnHand:
                     name: "stockOnHand"
                     label: "Stock on Hand"
                     source: "USER_INPUT"
                     displayed: true
                     definition: "752cda76-0db5-4b6e-bb79-0f531ab78e2c"
                     displayOrder: 3
                 totalLossesAndAdjustments:
                     name: "totalLossesAndAdjustments"
                     label: "Adjustment"
                     source: "USER_INPUT"
                     displayed: true
                     definition: "cd57f329-f549-4717-882e-ecbf98122c38"
                     displayOrder: 4
                 totalConsumedQuantity:
                     name: "totalConsumedQuantity"
                     label: "Quantity Consumed"
                     source: "USER_INPUT"
                     displayed: true
                     definition: "9e825396-269d-4873-baa4-89054e2722f4"
                     displayOrder: 5
                 totalStockoutDays:
                     name: "totalStockoutDays"
                     label: "Stocked Out Days"
                     source: "USER_INPUT"
                     displayed: true
                     definition: "750b9359-c097-4612-8328-d21671f88920"
                     displayOrder: 6
                 adjustedConsumption:
                     name: "adjustedConsumption"
                     label: "Adjusted Consumption"
                     source: "CALCULATED"
                     displayed: true
                     definition: "720dd95b-b765-4afb-b7f2-7b22261c32f3"
                     displayOrder: 7
                 calculatedOrderQuantity:
                     name: "calculatedOrderQuantity"
                     label: "Calculated Quantity"
                     source: "CALCULATED"
                     displayed: true
                     definition: "5528576b-b1e7-48d9-bf32-fd0eefefaa9a"
                     displayOrder: 8
                 requestedQuantity:
                     name: "requestedQuantity"
                     label: "Reorder Quantity"
                     source: "USER_INPUT"
                     displayed: true
                     definition: "4a2e9fd3-1127-4b68-9912-84a5c00f6999"
                     displayOrder: 9
                 requestedQuantityExplanation:
                     name: "requestedQuantityExplanation"
                     label: "Reorder Quantity explanation"
                     source: "USER_INPUT"
                     displayed: true
                     definition: "6b8d331b-a0dd-4a1f-aafb-40e6a72ab9f5"
                     displayOrder: 10
                 approvedQuantity:
                     name: "approvedQuantity"
                     label: "Approved Quantity"
                     source: "USER_INPUT"
                     displayed: true
                     definition: "a62a5fed-c0b6-4d49-8a96-c631da0d0113"
                     displayOrder: 11
                 totalReceivedQuantity:
                     name: "totalReceivedQuantity"
                     label: "Receipts"
                     source: "USER_INPUT"
                     displayed: true
                     definition: "5ba8b72d-277a-4da8-b10a-23f0cda23cb4"
                     displayOrder: 12
                 remarks:
                     name: "remarks"
                     label: "Remarks"
                     source: "USER_INPUT"
                     displayed: true
                     definition: "2ed8c74a-f424-4742-bd14-cfbe67b6e7be"
                     displayOrder: 13
                 skipped:
                     name: "skipped"
                     label: "Skip"
                     source: "USER_INPUT"
                     displayed: false
                     definition: "c6dffdee-3813-40d9-8737-f531d5adf420"
                     displayOrder: 14
                 beginningBalance:
                     name: "beginningBalance"
                     label: "Beginning balance"
                     source: "USER_INPUT"
                     displayed: false
                     definition: "33b2d2e9-3167-46b0-95d4-1295be9afc22"
                     displayOrder: 15
                 averageConsumption:
                     name: "averageConsumption"
                     label: "Average consumption"
                     source: "CALCULATED"
                     displayed: false
                     definition: "89113ec3-40e9-4d81-9516-b56adba7f8cd"
                     displayOrder: 16
                 pricePerPack:
                     name: "pricePerPack"
                     label: "Price per pack"
                     source: "REFERENCE_DATA"
                     displayed: false
                     definition: "df524868-9d0a-18e6-80f5-76304ded7ab9"
                     displayOrder: 17
                 dispensingUnit:
                     name: "orderable.dispensable.dispensingUnit"
                     label: "Dispensing Unit"
                     source: "REFERENCE_DATA"
                     displayed: false
                     definition: "61e6d059-10ef-40c4-a6e3-fa7b9ad741ec"
                     displayOrder: 18
                 total:
                     name: "total"
                     label: "Total"
                     source: "CALCULATED"
                     displayed: false
                     definition: "ef524868-9d0a-11e6-80f5-76304dec7eb7"
                     displayOrder: 19
                 packsToShip:
                     name: "packsToShip"
                     label: "Packs to ship"
                     source: "CALCULATED"
                     displayed: false
                     definition: "dc9dde56-593d-4929-81be-d1faec7025a8"
                     displayOrder: 20
                 numberOfNewPatientsAdded:
                     name: "numberOfNewPatientsAdded"
                     label: "Number of new patients added"
                     source: "USER_INPUT"
                     displayed: false
                     definition: "5708ebf9-9317-4420-85aa-71b2ae92643d"
                     displayOrder: 21
                 totalCost:
                     name: "totalCost"
                     label: "Total cost"
                     source: "CALCULATED"
                     displayed: false
                     definition: "e3a0c1fc-c2d5-11e6-af2d-3417eb83144e"
                     displayOrder: 22
                 maximumStockQuantity:
                     name: "maximumStockQuantity"
                     label: "Maximum stock quantity"
                     source: "CALCULATED"
                     displayed: false
                     definition: "913e1a4f-f3b0-40c6-a422-2f73608c6f3d"
                     displayOrder: 23
    configuration:
        accessFile: "data.mdb"
        olmis:
            dialect: "org.hibernate.spatial.dialect.postgis.PostgisDialect"
            showSql: false
            dataSource:
                connectionProperties:
                    stringtype: "unspecified"
                driverClass: "org.postgresql.Driver"
                host: "localhost"
                port: 5432
                database: "open_lmis"
                username: "postgres"
                password: "p@ssw0rd"
        batch:
            chunk: 10
            skipPolicy: "org.springframework.batch.core.step.skip.AlwaysSkipItemSkipPolicy"
            migration: true
            skipPeriods: true
    mapping:
        programs:
            - code: "em"
              categories:
                  - "(A) TABLETS/CAPSULES"
                  - "(B) INJECTABLES"
                  - "(C) VACCINES & TOXOIDS"
                  - "(D) GALENICALS: SYRUPS/ELIXIRS/SUSPENSIONS, TOPICAL PREPARATIONS & DISINFECTANTS"
                  - "(E) DISPENSARY ITEMS"
                  - "(F) SURGICAL DRESSINGS"
                  - "(G) SUTURES"
                  - "(H) SURGICAL & HOSPITAL EQUIPMENT"
                  - "(I) X-RAY FILMS & SUPPLIES"
                  - "(J) DENTAL ITEMS"
                  - "CLASS D: Raw Materials"
                  - "CLASS M: Laboratory Reagents and Materials (Supplies)"
                  - "CLASS Q: Miscellaneous Items"
                  - "CLASS R: Hospital Bedings"
                  - "CLASS S: Slow Moving Items"
                  - "MENTAL SPECIAL"
                  - "SURGICAL EQUIPMENT"
              warehouses:
                  - geographicZone: "central"
                    code: "cmstc"
                  - geographicZone: "south"
                    code: "cmsts"
                  - geographicZone: "northern"
                    code: "cmstn"
            - code: "mal"
              categories:
                  - "(K) MALARIA PROGRAM MEDICINES & HEALTH SUPPLIES"
              warehouses:
                  - code: "program"
            - code: "fp"
              categories:
                  - "(L) REPRODUCTIVE HEALTH PROGRAM MEDICINES & HEALTH SUPPLIES"
              warehouses:
                  - code: "program"
            - code: "hiv"
              categories:
                  - "(M) HIV/AID CONTROL PROGRAM MEDICINES & HEALTH SUPPLIES"
              warehouses:
                  - code: "program"
            - code: "tb"
              categories:
                  - "(N) TUBERCULOSIS PROGRAM MEDICINES"
              warehouses:
                  - code: "program"
        facilities:
            "A": "A"
            "B": "B"
        products:
            "Chlorpromazine 25mg": "A0110"
        stockAdjustmentReasons:
            "DE Credit": "Transfer In"
            "DE Debit": "Transfer Out"
        categoryProductJoins:
            10: 20
            15: 30
    exclude:
        forms:
            - facility:
              period:
              program:
        products:
