<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="timestamp" datePattern="yyyyMMdd_HHmm"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] [%d{HH:mm:ss.SSS}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log_${timestamp}.log</file>
        <append>true</append>
        <encoder>
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="mw.gov.health.lmis.migration.tool" level="INFO" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
